<div class="container">
  <div id="create-project-header">
    <p class="pageTitle afacad">Create New Project</p>
  </div>

  <div id="create-project-page" class="create-project-container">
    <form class="create-project-form" [formGroup]="newProjectForm" (ngSubmit)="createNewProject()">

      <div class="row">
        <div class="description-div">
          <mat-icon>description</mat-icon>
          <span class="afacad">Project Description</span>
          <mat-form-field class="full-width">
            <mat-label class="mat-label">Project Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label class="mat-label">Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>

        <div class="duration-div">
          <mat-icon>hourglass_empty</mat-icon>
          <span class="afacad">Duration</span>
          <mat-form-field class="full-width">
            <mat-label class="mat-label">Start Date</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="startDate" required>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label class="mat-label">End Date</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="endDate" required>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="condition-div">
          <mat-icon>notification_important</mat-icon>
          <span class="afacad">Conditions</span>
          <mat-form-field class="full-width">
            <mat-label class="mat-label">Status</mat-label>
            <mat-select formControlName="statusId" required>
              <mat-option *ngFor="let status of statusData" [value]="status.id">{{status.value}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label class="mat-label">Priority</mat-label>
            <mat-select formControlName="priorityId" required>
              <mat-option *ngFor="let priority of priorityData" [value]="priority.id">{{priority.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="budget-div">
          <mat-icon>euro_symbol</mat-icon>
          <span class="afacad">Budget</span>
          <mat-form-field class="full-width">
            <mat-label class="mat-label">Budget</mat-label>
            <input matInput type="number" formControlName="budget" required>
          </mat-form-field>
        </div>
      </div>

      <div id="button-container">
        <button mat-raised-button style="font-family: 'Afacad', sans-serif; color: #ffffff; background-color: #00ADB5;" type="submit">Apply</button>
      </div>
    </form>
  </div>
</div>
