<div class="container">
  <div id="edit-project-header">
    <p class="pageTitle afacad">Edit Project</p>
  </div>

  <div id="edit-project-page" class="edit-project-container">

    <div class="list-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 projListTable" style="height: 70%;">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="afacad" class="afacad"> ID </th>
            <td mat-cell class="rowCell afacad" *matCellDef="let data"> {{data.id}} </td>
        </ng-container>

        <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef class="afacad"> Project Name </th>
            <td mat-cell class="rowCell afacad" *matCellDef="let data"> {{data.projectName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

      </table>

      <mat-paginator class="projListTable" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

    <div class="edit-container">
      <form class="edit-project-form" [formGroup]="projectForm" (ngSubmit)="editProject()" >

        <div class="row">
          <div class="description-div">
            <mat-icon>description</mat-icon>
            <span class="afacad">Project Description</span>
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Project Name</mat-label>
              <input matInput formControlName="projectName" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label class="mat-label">Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>

          <div class="duration-div">
            <mat-icon>hourglass_empty</mat-icon>
            <span class="afacad">Duration</span>
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Start Date</mat-label>
              <input matInput [matDatepicker]="startPicker" formControlName="startDate" required>
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label class="mat-label">End Date</mat-label>
              <input matInput [matDatepicker]="endPicker" formControlName="endDate" required>
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="condition-div">
            <mat-icon>notification_important</mat-icon>
            <span class="afacad">Conditions</span>
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Status</mat-label>
              <mat-select formControlName="status" required>
                <mat-option value="not started">Not Started</mat-option>
                <mat-option value="in progress">In Progress</mat-option>
                <mat-option value="completed">Completed</mat-option>
                <mat-option value="on hold">On Hold</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label class="mat-label">Priority</mat-label>
              <mat-select formControlName="priority" required>
                <mat-option value="low">Low</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="high">High</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="budget-div">
            <mat-icon>euro_symbol</mat-icon>
            <span class="afacad">Budget</span>
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Budget</mat-label>
              <input matInput type="number" formControlName="budget" required>
            </mat-form-field>
          </div>
        </div>

        <div id="button-container">
          <button mat-raised-button style="font-family: 'Afacad', sans-serif; color: #ffffff; background-color: #00ADB5;" type="submit">Apply</button>
        </div>
      </form>
    </div>

  </div>
</div>
