<div class="container">
  <app-taskhive-header></app-taskhive-header>
  <div class="profileSettings-container">
    <div class="profileSettings-left-container">
      <button mat-menu-item [routerLink]="['myProjects']">
        <mat-icon>diversity_3</mat-icon>
        My Projects
      </button>
      <button mat-menu-item [routerLink]="['addProject']">
        <mat-icon>list_alt_add</mat-icon>
        Add New Project
      </button>
      <button mat-menu-item [routerLink]="['editProject']">
        <mat-icon>edit</mat-icon>
        Edit Project
      </button>
    </div>
    <div class="profileSettings-main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
