<div class="container">

  <div id="security-settings-header">
    <p class="pageTitle afacad">Change Password</p>
  </div>

  <div id="security-settings-page" class="security-settings-container">

    <form class="security-settings-form" [formGroup]="userPasswordChangeForm" (ngSubmit)="changePassword()">
      <div class="form-field-container">

        <mat-form-field class="full-width">
          <mat-label class="mat-label">Current Password</mat-label>
          <input matInput type="password" formControlName="currentPassword" >
        </mat-form-field>
      </div>
      <div class="form-field-container">
        <mat-form-field class="full-width">
          <mat-label class="mat-label">New Password</mat-label>
          <input matInput type="password" formControlName="newPassword">
        </mat-form-field>
      </div>
      <div class="form-field-container">
        <mat-form-field class="full-width">
          <mat-label class="mat-label">Confirm Password</mat-label>
          <input matInput type="password" formControlName="newPasswordConfirmation">
        </mat-form-field>
      </div>
      <div id="button-container">
        <button mat-raised-button style="font-family: 'Afacad', sans-serif; color: #ffffff; background-color: #00ADB5;" type="submit">Apply</button>
      </div>
    </form>
  </div>
</div>
