#taskhive_header{
  background-color: #EEEEEE;
 }

 #taskhive_header_menu{
  color: #771515;
 }

 #taskhive_header > table{
  width: 100%;
 }

 #taskhive_header > table > tr > td {
  text-align: right;
 }

 .taskhive_header_button
 {
  width: 0%;
  margin-left: 2%;
  margin-right: 2%;
 }

 .taskhive_logo
{
    max-width: 30%;
}
