<div id="taskhive_header">
  <table>
    <tr>
      <td style="width: 50%;"></td>
      <td style="width: 50%;">
        <div style="display: inline-flex;">
          <table>
            <tr>
              <td>
                <button mat-button [matMenuTriggerFor]="mainMenu"  id="taskhive_header_menu" *ngIf="userProfile">{{userProfile.email}}</button>
                  <mat-menu #mainMenu="matMenu">
                    <button mat-menu-item >
                    <button mat-menu-item (click)="logOut()">logout</button>
                    </button>
                  </mat-menu>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
