<div id="taskhive_header">
  <table>
    <tr>
      <td style="width: 50%;"></td>
      <td style="width: 50%;">
        <div style="display: inline-flex;">
          <table>
            <tr>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="mainMenu" >
                  <mat-icon style="color: #6B0808;">more_vert</mat-icon>
                </button>
                  <mat-menu #mainMenu="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="accountMenu" *ngIf="userProfile">{{userProfile.email}}</button>
                    <button mat-menu-item (click)="logOut()" style="color:#00e0ff;">logout</button>
                  </mat-menu>
                  <mat-menu #accountMenu="matMenu">
                    <button mat-menu-item>Profile</button>
                  </mat-menu>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
