<div class="container">
  <app-taskhive-header></app-taskhive-header>
  <div class="user-profile-container" *ngIf="userProfile">
    <form class="user-profile-form" [formGroup]="userProfileForm" (ngSubmit)="addOrEditUserProfile()">

      <mat-card style="background-color: #ffffff;">
        <mat-card-header style="background-color: bisque;">
          <mat-card-title><strong>User Profile</strong></mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <div class="form-field-container">
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Surname</mat-label>
              <input matInput formControlName="surname">
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Phone</mat-label>
              <input matInput type="tel" formControlName="phoneNumber">
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Department</mat-label>
              <input matInput formControlName="department">
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field class="full-width">
              <mat-label class="mat-label">Role</mat-label>
              <input matInput formControlName="role">
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions style="justify-content: end;">
          <button mat-raised-button color="primary" type="submit">Apply</button>
        </mat-card-actions>
      </mat-card>

    </form>
  </div>
</div>
