<div class="form-container">
    <a href="http://localhost:4200/"><img class="taskhive_logo" src="taskhive_logo.png" alt="TaskHive_Logo"></a>
    <br>
    <h1 class="auth_header"> Log In </h1>
        <form class="form-group" [formGroup]="loginForm" (ngSubmit)="logIn()">

            <div>
                <mat-form-field class="example-full-width form-field">
                    <mat-label>Email</mat-label>
                    <input matInput name="email" type="email" formControlName="email" placeholder="e-mail" autocomplete="off">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width form-field">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" type="password" formControlName="password" placeholder="Password" autocomplete="off">
                </mat-form-field>
            </div>
            <div>
              <br>
                <button mat-raised-button class="form-submit-button" style="color:rgb(255, 255, 255); background-color: rgb(0, 31, 63);" type="submit" color="primary">Log In</button>
                <button mat-raised-button class="form-submit-button" style="color:rgb(255, 255, 255); background-color: rgb(107, 8, 8);" (click)="logOn()" color="warn">Log On</button>
            </div>
        </form>
    </div>




