<div class="form-container">
    <img src="taskhive_logo.png" alt="TaskHive_Logo">
    <br>
    <br>
    <h1> Log On </h1>
    <br/>
        <form class="form-group" [formGroup]="logonForm" (ngSubmit)="onSubmit()">
        
            <div>
                <mat-form-field class="example-full-width form-field">
                    <mat-label>Email</mat-label>
                    <input matInput name="email" type="email" formControlName="email" placeholder="e-mail" autocomplete="off">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width form-field">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" type="password" formControlName="password" placeholder="Password" autocomplete="off">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width form-field">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput name="passwordConfirmation" type="password" formControlName="passwordConfirmation" placeholder="Password Confirmation" autocomplete="off">
                </mat-form-field>
            </div>

            <br><br><br>
            <button mat-raised-button class="form-submit-button" type="submit" color="primary">Log On</button>
        </form>
    </div>
    
    
    
    
    